<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DatabaseKoppeling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DatabaseKoppeling.Properties.Settings>
            <setting name="ConnectieString" serializeAs="String">
                <value>Data Source=MyOracleDB;User Id=SE22_VAKANTIEARCHIEF;Password=handyroosje; Integrated Security=no;</value>
            </setting>
        </DatabaseKoppeling.Properties.Settings>
    </userSettings>
</configuration>